<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>KZ | Pokedex App</title>
</head>

<body>
  <h2>Editing PokeID: <%= data.id %></h2>
  <h2><a href="/pokemon/<%= index %>">Go Back</a></h2>
  <form action="/pokemon/<%= index %>?_method=PUT" method="POST">
    <label for="pokeName">Name</label>
    <input type="text" name="name" value="<%= data.name %>" id="pokeName">
    <label for="pokeImg">Image</label>
    <input type="text" name="img" value="<%= data.img %>" id="pokeImg">
    <label for="pokeType">Type</label>
    <input type="text" name="type" value="<%= data.type %>" id="pokeType">
    <label for="statsHP">HP Stat</label>
    <input type="text" name="hp" value="<%= data.stats.hp %>" id="statsHP">
    <label for="statsAtt">Attack Stat</label>
    <input type="text" name="attack" value="<%= data.stats.attack %>" id="statsAtt">
    <label for="statsDef">Defense Stat</label>
    <input type="text" name="defense" value="<%= data.stats.defense %>" id="statsDef">
    <input type="submit" value="Update <%= data.name %>">
  </form>
</body>

</html>